<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/header :: headerelement">
    <meta charset="UTF-8">
    <title>ZenDash || Message</title>
</head>
<body class="dark-edition">
<div th:replace="fragments/header :: purple-navbar"></div>
<!-- ================ Material ============== -->
<!-- ================= Cards ================ -->
<div class="card mb-3">
    <img class="card-img-top"
         src="https://images.unsplash.com/photo-1517303650219-83c8b1788c4c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bd4c162d27ea317ff8c67255e955e3c8&auto=format&fit=crop&w=2691&q=80"
         rel="nofollow" alt="Card image cap">
    <div class="card-body">
        <h4 class="card-title" th:text="${message}">Card title</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
</div>

<div th:replace="fragments/content :: footer"></div>
<div th:replace="fragments/content :: footerscripts"></div>
</body>
</html>